{% extends "base.html" %}
{% load static %}

{% block title %}Mayank Das Portfolio{% endblock %}

{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Mayank Das</h1>
      <p>I'm <span class="typed"
          data-typed-items="Data Scientist, Data Analyst, Machine Learning Engineer, Python Developer, Web Developer, Freelancer"></span>
      </p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Hello my name is Mayank Das, I am from Sambhal, 244302. I am a graduate student with BCA from IFTM
            University, Moradabad.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/md.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Entry-level Data Scientist &amp; Analyst.</h3>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Mayank Das</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>28 November 2002</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Marital status:</strong> <span>Single</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9634887874</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Sambhal, Utter Pradesh,
                      India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>20</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>Indian</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Graduate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                    <span>mayankdas.datascientist@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              To be associated with a progressive organization, where I can employ Data Science, Data Analysis, Machine Learning, Deep Learning & Computer Vision knowledge and skills to contribute the growth of the organization and personal growth in an effectual manner.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Happy Clients</strong> satisfied with my work</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong> Projects </strong><br>different type of project</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Hours Of Support</strong> doesn't take unnecessary stress</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Helping Person</strong> helped others reach their goals</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          
          <div class="row">
            <div class="col">
              <h2>Resume</h2>
            </div>
            <div class="col download">
              <a href="{% static 'assets/Mayank Das Resume.pdf' %}" download="Mayank Das Resume.pdf"><em><u>Click to download resume</u></em></a>
            </div>
          </div>
          <p>To be associated with a progressive organization, where I can employ Data Science, Data Analysis, Machine Learning, Deep Learning & Computer Vision knowledge and skills to contribute the growth of the organization and personal growth in an effectual manner.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item">
              <p>Experience of 4 Data Science Personal Projects. Solved 4 Business problems using Machine Learning, Deep Learning, Computer Vision (CV) and Natural Language Processing (NLP) with respective domains. Having good knowledge in Data Pre-processing, Data Cleaning, EDA/ETL Techniques, Data Visualization with Python or Power BI.</p>
            </div>
            <div class="resume-item pb-0">
              <h4>Mayank Das</h4>
              <ul>
                <li>Sambhal 244302, Utter Pradesh, India</li>
                <li>+91 9634887874</li>
                <li>mayankdas.datascientist@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Computer Applications</h4>
              <div class="row">
                <div class="col-lg-9">
                  <h5>2020 - 2023</h5>
                  <p><em>IFTM University, Moradabad, UP</em></p>
                </div>
                <div class="col lg-3">
                  <p><i>CGPA - 9.15</i></p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <h4>Intermediate</h4>
              <div class="row">
                <div class="col-lg-9">
                  <h5>2019 - 2020</h5>
                  <p><em>SBSJ Inter College, Sambhal, UP</em></p>
                </div>
                <div class="col lg-3">
                  <p><i>Per - 73.6%</i></p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <h4>High School</h4>
              <div class="row">
                <div class="col-lg-9">
                  <h5>2017 - 2018</h5>
                  <p><em>SBSJ Inter College, Sambhal, UP</em></p>
                </div>
                <div class="col lg-3">
                  <p><i>Per - 68%</i></p>
                </div>
              </div>
            </div>

            <h3 class="resume-title">Soft Skills</h3>
            <div class="resume-item pb-0">
              <ul>
                <li>Problem-solving</li>
                <li>Leadership</li>
                <li>Time management</li>
                <li>Communication</li>
              </ul>
            </div>

            <h3 class="resume-title">Language known</h3>
            <div class="resume-item pb-0">
              <ul>
                <li>
                  <div class="row">
                    <div class="col"> English </div>
                    <div class="col">
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star"></i>
                    </div>
                  </div>
                </li>
                
                <li>
                  <div class="row">
                    <div class="col"> Hindi </div>
                    <div class="col">
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Skills</h3>
            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Programming :-</h4>
                </div>
                <div class="col skills">
                  <p><em>Python, SQL, C</em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Libraries :-</h4>
                </div>
                <div class="col skills">
                  <p><em>Numpy, Pandas, Matplotlib, Seaborn, Scikit-learn, Flask, Django, Keras, Tensorflow,  Pytorch, NLTK, CV2</em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Tech :-</h4>
                </div>
                <div class="col skills">
                  <p><em>Data Science, Data Analysis, Data Visualization, Machine Learning, Deep Learning, Python Developer, Artificial Intelligence, Computer Vision, NLP</em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Tools :-</h4>
                </div>
                <div class="col skills">
                  <p><em>Power BI, Google Colab, Visual Studio Code, Jupyter Notebook/Lab, Anaconda</em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Versioning :-</h4>
                </div>
                <div class="col skills">
                  <p><em>GitHub</em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="row">
                <div class="col">
                  <h4>Document & Presentation :-</h4>
                </div>
                <div class="col skills">
                  <p><em>MS Excel, MS Word, PowerPoint</em></p>
                </div>
              </div>
            </div>
 
            <h3 class="resume-title">Certificates</h3>
            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Machine Learning</h4>
                  <p><em>from Kaggle</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a href="https://www.kaggle.com/learn/certification/mayankdaskaggle/intro-to-machine-learning"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>SQL</h4>
                  <p><em>from Kaggle</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a href="https://www.kaggle.com/learn/certification/mayankdaskaggle/intro-to-sql"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Python for Data Science</h4>
                  <p><em>from IBM</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a href="https://courses.cognitiveclass.ai/certificates/85f3623465734d71ba345424788ad096"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Data Analysis with Python</h4>
                  <p><em>from IBM</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a href="https://courses.cognitiveclass.ai/certificates/fa48716047a74ae48b910ffd34bca491"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">

              <div class="row">
                <div class="col">
                  <h4>Data Visualization with Python</h4>
                  <p><em>from IBM</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a href="https://courses.cognitiveclass.ai/certificates/b0aa5d6d8ffe4bb7b5d863e893d7bf56"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            <div class="resume-item">
              <div class="row">
                <div class="col">
                  <h4>Python Programming</h4>
                  <p><em>from NPTEL</em></p>
                </div>
                <div class="col certificate-link">
                  <p><em><a
                        href="https://archive.nptel.ac.in/content/noc/NOC22/SEM1/Ecertificates/106/noc22-cs26/Course/NPTEL22CS26S33930111NPTEL2201055606.jpg"
                        target="_blank"><u>Link</u></a></em></p>
                </div>
              </div>
            </div>

            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Project Section ======= -->
    <section id="project" class="project section">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
        </div>

        <div class="project-summery">

          <div class="row">
            <div class="col">
              <h4><b>Project 1 :</b></h4>
            </div>
            <div class="col link">
              <p><em><a href="https://github.com/Mayank-das/Bengaluru-House-Price-Prediction"
                    target="_blank"><u>Project Link</u></a></em></p>
            </div>
          </div>
          <div class="project-detail" data-aos="fade-up">
            <p><strong>Name :</strong> Bengaluru House Price Prediction (Real Estate)</p>
            <p><strong>Aim :</strong> To Predict the price of house in Bengaluru</p>
            <p><strong>Roles & Responsibility :</strong> I clean and pre-process the dataset then I train the Random Forest Regression Supervised ML Algorithm which gives 94% accuracy then I create a webpage using Flask which predicts the price of house.</p>
            <p><strong>Tech Stack :</strong> Data Analysis, Machine Learning, Flask</p>
          </div>
        </div>

        <div class="project-summery">

          <div class="row">
            <div class="col">
              <h4><b>Project 2 :</b></h4>
            </div>
            <div class="col link">
              <p><em><a href="https://github.com/Mayank-das/Data-Science-Console-Projects/tree/master/Breast%20Cancer"
                    target="_blank"><u>Project Link</u></a></em></p>
            </div>
          </div>
          <div class="project-detail" data-aos="fade-up">
            <p><strong>Name :</strong> Breast Cancer Detection (Healthcare)</p>
            <p><strong>Aim :</strong> To Predict Breast Cancer</p>
            <p><strong>Roles & Responsibility :</strong> In this project I have used dataset which is given in Scikit Learn Llibrary. It contains extract features of malignant and benign tumor cells. This dataset is already clean so I only train the SVM Classifier which gives 95% accuracy to predict the breast cancer.</p>
            <p><strong>Tech Stack :</strong> Data Analysis, Machine Learning</p>
          </div>
        </div>

        <div class="project-summery">

          <div class="row">
            <div class="col">
              <h4><b>Project 3 :</b></h4>
            </div>
            <div class="col link">
              <p><em><a href="https://github.com/Mayank-das/Data-Science-Console-Projects/tree/master/Fashion%20MNIST"
                    target="_blank"><u>Project Link</u></a></em></p>
            </div>
          </div>
          <div class="project-detail" data-aos="fade-up">
            <p><strong>Name :</strong> Fashion MNIST | Fashion Classification (Real-Estate)</p>
            <p><strong>Aim :</strong> To classify the clothes</p>
            <p><strong>Roles & Responsibility :</strong> In this project I have used dataset which is given in Keras Library. It contain numerical feature which represent pixel value of image in array. This dataset is already clean so I only build the keras model which give 86% accuracy to predict, which fashion is the given image. </p>
            <p><strong>Tech Stack :</strong> Data Analysis, Deep Learning</p>
          </div>
        </div>

        <div class="project-summery">

          <div class="row">
            <div class="col">
              <h4><b>Project 4 :</b></h4>
            </div>
            <div class="col link">
              <p><em><a href="https://github.com/Mayank-das/Library-management-system"
                    target="_blank"><u>Project Link</u></a></em></p>
            </div>
          </div>
          <div class="project-detail" data-aos="fade-up">
            <p><strong>Name :</strong> Library Management System (Desktop/GUI application)</p>
            <p><strong>Aim :</strong> To manage the data of Library</p>
            <p><strong>Roles & Responsibility :</strong> I create this project to manage the data of library like issue the book to the student, return the book from the student and add and delete the book from the database. To solve this problem I have used Tkinter for GUI and MySql for database.</p>
            <p><strong>Tech Stack :</strong> GUI Development using Tkinter, MySql, Full Stack</p>
          </div>
        </div>

        <div class="project-summery">

          <div class="row">
            <div class="col">
              <h4><b>Project 5 :</b></h4>
            </div>
            <div class="col link">
              <p><em><a href="https://github.com/Mayank-das/Data-Science-Console-Projects/tree/master/Body%20detection"
                    target="_blank"><u>Project Link</u></a></em></p>
            </div>
          </div>
          <div class="project-detail" data-aos="fade-up">
            <p><strong>Name :</strong> Human Body Detection (Security)</p>
            <p><strong>Aim :</strong> Security</p>
            <p><strong>Roles & Responsibility :</strong> This project is use to detect the human body. We can also use this project to check how many people enter in the specific area. To solve this problem I have used OpenCV library.</p>
            <p><strong>Tech Stack :</strong> Computer Vision</p>
          </div>
        </div>
        

      </div>
    </section><!-- End Project Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Look at my project porfolio that may help you to impress with my work.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-gui">GUI</li>
              <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-card">GUI 2</li>
              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-gui">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-gui-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-gui-1.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="GUI 1"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-gui" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-web-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-web-1.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-web" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gui">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-gui-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-gui-2.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="GUI 2"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-gui" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-card-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-card-1.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-card" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-card-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-card-2.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-card" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gui">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-gui-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-gui-3.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="GUI 3"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-gui" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
       
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-web-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-web-2.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-web" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-web-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-web-3.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-web" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-card-3.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-card-3.jpg' %}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="./portfolio-details-card" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>I can provide the following services according to my skills.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Python Developer</a></h4>
            <p class="description">I am a good Python Developer</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Data Scientist</a></h4>
            <p class="description">I am a good Data Scientist</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Data Analyst</a></h4>
            <p class="description">I am a good Data Analyst</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Web Developer</a></h4>
            <p class="description">I am a good Web Developer</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">ML Engineer</a></h4>
            <p class="description">I am a good Machine Learning Engineer</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">DL Engineer</a></h4>
            <p class="description">I am a good Deep Learning Engineer</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact </h2>
          <!-- <p>Contact me through the following details.</p> -->
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Lodhi Saray Near Railway Station, Sambhal 244302, Utter Pradesh, India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>mayankdas.datascientist@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9694887874</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56055.79641294585!2d78.53881285075511!3d28.585155273762307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390b18ca0aa308c9%3A0x7c77cab0efce31cd!2sSambhal%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1664434069472!5m2!1sen!2sin"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action= "#contact" method="POST" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              
              <div class="my-3">
                <div class="alert alert-info" role="alert">{{success_msg}}</div>
              
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock body %}
